<!DOCTYPE html>
<html>
<head>
  <%- include('meta') %>
  <title id="title"></title>
</head>
<body>
  <%- include('header') %>
  <main id="content">
    <p><%= errorMsg %></p>
  </main>
  <%- include('footer') %>
</body>
</html>
