<footer class="footer mt-auto py-3 bg-light">
  <div class="container" style="text-align: right">
    <span class="text-muted">server time: <%= serverTime %> | weppo &copy; <em>pj</em> 2020</span>
  </div>
</footer>
