<nav id="topnav">
  <a class="brand" href="/">WEPPO</a>
  <div class="user-container">
    <% if (username.length != 0) { %>
      <a href="#cart"><i class="fa fa-shopping-cart"></i></a>
      <a href="#user"><%= username %><i class="fa fa-user"></i></a>
      <a href="/logout">Log out</a>
    <% } else { %>
      <a href="/login">Log in</a>
      <a href="/register">Sign In</a>
    <% } %>
  </div>
<!--
  <div class="search-container">
    <form action="">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
-->
</nav>
