<html>
  <head>
    <%- include('meta') %>
    <title>weppo - register</title>
  </head>

  <body class="d-flex flex-column h-100">
    <%- include('header') %>

    <main class="flex-shrink-0">
        <div class="container">
            <h3 class="mt-5">Main page</h1>
        </div>
    </main>

    <%- include('footer') %>
  </body>
</html>
