<html>
  <head>
    <%- include('meta') %>
    <title>weppo - index</title>
  </head>

  <body>
    <%- include('header') %>

    <main class="content">
      <div class="welcome">
        <h1>Welcome!</h1>
        <h4>Go and look around ;)</h4>
      </div>
      <div class="center">
        
        <p>
        See our <a href="/list/item">items.</a>
        </p>
      </div>
    </main>

    <%- include('footer') %>
  </body>
</html>
