<!DOCTYPE html>
<html>
<head>
  <%- include('meta') %>
  <script src="/scripts/ajax.js"></script>
  <script src="/scripts/common.js"></script>
  <script src="/scripts/item.js"></script>
  <title>weppo - items</title>
</head>
<body>
  <%- include('header') %>
  <main class="flex-shrink-0">
  <h1>Items</h1>
  <ul id="itemList"></ul>
  </main>
  <%- include('footer') %>
  <script>
    document.onload = insertItemList();
  </script>
</body>
</html>
