<!DOCTYPE html>
<html>
<head>
  <%- include('meta') %>
  <script src="/scripts/ajax.js"></script>
  <script src="/scripts/common.js"></script>
  <script src="/scripts/item.js"></script>
  <title>weppo - items</title>
</head>
<body>
  <%- include('header') %>
  <main class="content">
  <h1>Items</h1>
  <div><input type="text" id="filter"/><button onclick="buttonFilter()">Filter</button></div>
  <% if (admin) {%>
  <a href="/add/item">Add item</a>
  <% } %>
  <ul id="itemList"></ul>
  </main>
  <%- include('footer') %>
  <script>
    document.onload = insertItemList(<%= admin %>);
  </script>
</body>
</html>
