<!DOCTYPE html>
<html>
<head>
  <%- include('meta') %>
  <script src="/scripts/ajax.js"></script>
  <script src="/scripts/common.js"></script>
  <script src="/scripts/item.js"></script>
  <title>weppo - item add</title>
</head>
<body>
  <%- include('header') %>
  <main class="content">
  <div id="console">
  <form action="" id="itemAdd">
    <div>
    <label for="name">Name</label>
    <input type="text" name="name">
    </div>
    <div>
    <label for="price">Price</label>
    <input type="number" name="price">
    </div>
    <div>
    <label for="amount">Amount</label>
    <input type="number" name="amount">
    </div>
    <div>
    <label for="available">Available</label>
    <input type="checkbox" name="available" checked="true">
    </div>
  </form>
  <button onclick="addItem()">Add item</button>
  </div>
  </main>

  <%- include('footer') %>
</body>
</html>
