<!DOCTYPE html>
<html>
<head>
  <%- include('meta') %>
  <script src="/scripts/init.js"></script>
  <script src="/scripts/data.js"></script>
  <title id="title"></title>
</head>
<body>
  <a href="/list/item">Up</a>
  <div id="item">
    <div style="font-size:20px"><span id="itemName"></span></div>
    <div>Price: <span id="itemPrice"></span>$</div>
    <div>Amount: <span id="itemAmount"></span> pcs.</div>
    <div>This item is <span id="itemAvailable"></span>.</div>
  </div>
  <script>document.onload = insertItem("<%= itemID %>")</script>
</body>
</html>
