<!DOCTYPE html>
<html>
<head>
  <%- include('meta') %>
  <script src="/scripts/ajax.js"></script>
  <script src="/scripts/common.js"></script>
  <script src="/scripts/user.js"></script>
  <title id="title">weppo - role add</title>
</head>
<body>
  <form action="" id="addRole">
    <label for="role">New role:</label>
    <input type="text" name="role">
  </form>
  <button onclick="buttonAddRole()">Add role</button>
</body>
